.BaPhotoCard {
  background-color: #ffffff;
  position: relative;

  &_header {
    padding: 8px 16px;
    font-size: 28px;
    background-color: gold;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &_img {
    height: 400px;
  }

  &_detail {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: red;
    padding: 8px 16px;
    font-size: 28px;
    color: #ffffff;
    border-radius: 8px;
  }
}
